<nav class="nav">
    <h1><a [routerLink]="['/']"><strong>Anand</strong>E-Comm</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input (keyup)="searchProduct($event)" type="text" placeholder="Search here">
        <button>Search</button>
        <!-- <button class="btn btn-primary"></button> -->
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li> <a [routerLink]="['seller-auth']">Seller</a> </li>
            <li> <a [routerLink]="['']">Home</a> </li>
            <li> <a [routerLink]="['']">Login</a> </li>
            <li> <a [routerLink]="['']">Cart(0)</a> </li>

        </ul>
        <!-- seller  -->
        <ul *ngSwitchCase="'seller'">
            <li>
                <a [routerLink]="['seller-auth']">Product List</a>
            </li>
            <li>
                <a [routerLink]="['seller-add-product']">Add Product</a>
            </li>
            <li>
                <a (click)="logout()">Logout</a>
            </li>
            <li> <a [routerLink]="['']">{{"Hi!" }} {{sellerName | titlecase}}</a> </li>
        </ul>
    </div>
    <!-- nav end -->
</nav>