.nav {
    display: flex;
    /* justify-content: space-evenly;  */
    justify-content: space-evenly;
    /* background-color: rgb(216, 215, 215); */
    background-color: #f8f9fa;
    width: auto;
    padding-top: 5px;
    padding-bottom: 15px;
    /* position: fixed; */
    /* overflow: hidden; */
}


.nav h1 {
    color: rgb(253, 3, 190);
    font-size: 40px;
    margin: 0px;
}

.nav ul {

    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a {
    text-decoration: none;
    color: rgb(253, 3, 190);
    cursor: pointer;
}

.nav .nav-search input {
    flex: 1px;
    color: rgb(253, 3, 190);
    border: 1px solid rgb(253, 3, 190);
    height: 39px;
    width: 18cm;
    border-radius: 0px;

}

.nav .nav-search button {
    color: rgb(253, 3, 190);
    border: 1px solid rgb(253, 3, 190);
    height: 39.5px;
    border-left: 0px;
    margin-top: 5px;
    cursor: pointer;
    /* flex: 1; */
    /* display: flex; */
    /* margin-left: 5%;
    margin-right: 5%; */
}

.suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 300px;
    top: 47px;
    border: 1px solid rgb(216, 216, 216);
}
.suggested-result li {
    padding: 5px;
    /* border: 1px solid rgb(1, 1, 1); */
}
.suggested-result li a {
    cursor: pointer;
    color: rgb(253, 3, 190);
}
