<div class="footer shadow-lg">
  <ul>
    <li><a href="">Become a Seller</a></li>
    <li><a href="">Polices</a></li>
    <li>
      <a href="">Terms & Conditions</a>
    </li>
    <li>
      <a href="">Help Center</a>
    </li>
    <li>
      <a href="">News</a>
    </li>
    <li>
      <a href="">Facebook</a>
    </li>
    <li>
      <a href="">Youtube</a>
    </li>
    <li>
      <a href="">Sitemap</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>
  <p><strong>© 2023 E-comm Project</strong></p>
</div>
