.product-list {
    text-align: center;
    color: rgb(253, 3, 190);
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

/* .main{
    text-align: center;
    background-color: white;
    justify-content: center;
} */
table{
    text-align: center;
    color: rgb(253, 3, 190);
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    
    
    
}

table td, table th{
    border: 1px solid rgb(18, 17, 18);
    padding: 10px;
    min-height: 160px;

}
img{
    width: 100px;
    height: 100px;
}

.adjust-update-link{
    margin-left: 10px;
}