.sign-up{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: rgb(253, 3, 190);
}
.toogle-link{
    cursor: pointer;
    color: rgb(253, 3, 190);
     
}
/* p{
    color: black;
} */