<div class="checkout">
    <h1>Checkout</h1>
    <p class="success-m">{{orderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shpipping-address">
            <h3>Add shipping Address</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input type="text" class="form-input" ngModel name="email" placeholder="Enter your email">
                <input type="text" class="form-input" ngModel name="address" placeholder="Enter your address">
                <input type="text" class="form-input" ngModel name="contact" placeholder="Enter your contact details">
                <button class="form-button">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount :{{totalPrice}}</h3>
            <h4>Payment Mode : <strong>Pay on Delivery</strong></h4>
        </div>
    </div>
</div>