.checkout h1{
    text-align: center;
    /* padding: 10px; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.shpipping-address h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}